

<div>
    @{
        ViewBag.Title = "COVID Response";
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
    }

    <div class="row-fluid" style="padding-top:70px;">
        <h3 style="color:#ff6a00">সংক্ষিপ্ত তথ্য</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th>মোট সাক্ষাত নেয়া হয়েছে</th>
                <td id="td2" style="font-size:14px;"></td>
            </tr>
            <tr>
                <th>সম্ভাব্য রোগীর সংখ্যা</th>
                <td id="td1" style="font-size:14px;"></td>
            </tr>
            <tr>
                <th>সম্ভাব্য নারী রোগীর সংখ্যা</th>
                <td id="td8" style="font-size:14px;"></td>

            </tr>
            <tr>
                <th>জ্বর ও শ্বাস কষ্ট  সমস্যা জনিত সম্ভাব্য রোগী </th>
                <td id="td9" style="font-size:14px;"></td>

            </tr>
            <tr>
                <th>সম্ভাব্য আক্রান্ত শীর্ষ ৫ জেলা </th>
                <td id="td10" style="font-size:14px;"></td>

            </tr>
            <tr>
                <th>BRAC Coronarodh App থেকে প্রাপ্ত সম্ভাব্য রোগীর সংখ্যা</th>
                <td id="td11" style="font-size:14px;"></td>

            </tr>
        </table>
        <h3 style="color:#6842fd">ব্র্যাক হেলথ থেকে প্রাপ্ত তথ্য</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th>সরকারী সমন্বয় মিটিং </th>
                <td id="tdh1" style="font-size:14px;"></td>
                <th>ব্র্যাক সমন্বয় মিটিং </th>
                <td id="tdh2" style="font-size:14px;"></td>

            </tr>
            <tr>
                <th>স্টিকার বিতরণ</th>
                <td id="tdh3" style="font-size:14px;"></td>
                <th>লিফলেট বিতরণ</th>
                <td id="tdh4" style="font-size:14px;"></td>
            </tr>
        </table>
        <h3 style="color:#37940a">দেশের সার্বিক অবস্থা ও সামাজিক নিরাপত্তা তথ্য</h3>
        <table class="table table-striped table-bordered">
            <tr>
                <th>হাসপাতালের সংখ্যা</th>
                <td id="tdd1" style="font-size:14px;"></td>
                <th>বর্তমান হোম কোয়ারান্টিন</th>
                <td id="tdd2" style="font-size:14px;"></td>
                <th>হোম কোয়ারান্টিন শেষ হয়েছে</th>
                <td id="tdd3" style="font-size:14px;"></td>
            </tr>
            <tr>
                <th>আইসোলেশন বেড সংখ্যা</th>
                <td id="tdd4" style="font-size:14px;"></td>
                <th>মোট মৃত্যু</th>
                <td id="tdd5" style="font-size:14px;"></td>
                <th>Covid-19 টেস্ট করা হয়েছে</th>
                <td id="tdd6" style="font-size:14px;"></td>
            </tr>
        </table>

        <table class="table table-striped table-bordered">
            <tr>
                <th>রিলিফ প্রদান</th>
                <th colspan="4">মোট বিতরণ (মেঃ টন)</th>
            </tr>
            <tr>
            <tr>
                <td> পরিবার </td>
                @*<td> ব্যক্তি </td>*@
                <td> চাল </td>
                <td> ডাল </td>
                <td> আলু </td>
                <td> টাকা </td>
                @*<td>তেল </td>
                    <td>সাবান </td>
                    <td>পেঁয়াজ</td>
                    <td>লবন </td>*@
            </tr>
            <tr>
                <td id="tdr5" style="font-size:14px;">0</td>
                @*<td id="tdr6" style="font-size:14px;">0</td>*@
                <td id="tdr7" style="font-size:14px;">0</td>
                <td id="tdr8" style="font-size:14px;">0</td>
                <td id="tdr9" style="font-size:14px;">0</td>
                <td id="tdr10" style="font-size:14px;">0</td>
                @*<td id="tdr1" style="font-size:14px;">0</td>
                    <td id="tdr2" style="font-size:14px;">0</td>
                    <td id="tdr3" style="font-size:14px;">0</td>
                    <td id="tdr4" style="font-size:14px;">0</td>*@
            </tr>
        </table>

    </div>

</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //DatePicker('utopia-dashboard-datepicker', 'dd MMM yyyy');
            //PrepareMap();

            var jsonTableData = $.ajax({
                url: "Main/SummeryData",
                dataType: "json",
                async: false
            }).responseText;

            var jd = JSON.parse(jsonTableData);

            $('#td1').html(jd.suspect);
            $('#td2').html(jd.reach);
            $('#td8').html(jd.femaleSuspect);
            $('#td9').html(jd.feverBreadth);
            $('#td10').html(jd.vulnarable);
            $('#td11').html(jd.app);

            $('#tdd1').html(jd.district.hospital);
            $('#tdd2').html(jd.district.curquarantine);
            $('#tdd3').html(jd.district.released);
            $('#tdd4').html(jd.district.bed);
            $('#tdd5').html(jd.district.death);
            $('#tdd6').html(jd.district.test);

            //$('#tdr1').html(jd.district.oil);
            //$('#tdr2').html(jd.district.soap);
            //$('#tdr3').html(jd.district.onion);
            //$('#tdr4').html(jd.district.salt);

            $('#tdr5').html(jd.district.family);
            //$('#tdr6').html(jd.district.person);
            $('#tdr7').html(jd.district.rice);
            $('#tdr8').html(jd.district.dal);
            $('#tdr9').html(jd.district.potato);
            $('#tdr10').html(jd.district.money);

            $('#tdh1').html(jd.hnpp.govtMeet);
            $('#tdh2').html(jd.hnpp.bracMeet);
            $('#tdh3').html(jd.hnpp.stic);
            $('#tdh4').html(jd.hnpp.leaf);

        });



    </script>
}