<br />
<br />
<div class="alert alert-error">
    Your <strong>session has exired</strong> or an error occured at server.</div>
<div class="alert alert-block">
    Step 1 : Click on @Html.ActionLink("Sign Out", "LogOff", "Home", null, new { @class = "btn btn-mini btn-warning" })
    and do signin again
    <br />
    Step 2 : Try to do your job which has created error</div>
<div class="alert alert-info">
    If it does not work properly, please enter an @Ajax.ActionLink("incedence", "Support", "Main", new AjaxOptions
                                             {
                                                 UpdateTargetId = "MainBody",
                                                 LoadingElementId = "loading",
                                                 OnFailure = "failure"
                                             }, new { @class = "btn btn-mini btn-info" })
    We will solve it immediately</div>
