@model IEnumerable<AppProj.Domain.StandingData>
@{
    ViewBag.Title = "COVID Response";
    Layout = "~/Views/Shared/_LayoutBrac.cshtml";
    ViewBag.page = "main";
}
<link href="~/Content/css/brac/bootstrap-legacy.css" rel="stylesheet" />
<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            <li>
                <h2 class="textPrimary">
                    BRAC COVID-19 Activities
                </h2>
            </li>
        </ul>
        <span class="abc" data-toggle="tooltip" data-placement="top" title="This is test"></span>
        @*<img src="~/Content/toolsgray.png" width="30" />*@
    </div>
</div>
<p>
    <img src="~/Content/img/icons2/phone.png" class="utopia-icons2-medium-img" title="Call to Doctor" style="margin-right:10px;" />
    Call to BRAC Doctor <span class="textPrimary" style="font-size:22px; font-weight:bold"> 0 1 8 3 3 3 0 1 4 1 1 </span> open for 24 x 7
    <br />
    <small style="padding-left:55px;">However, you are encouraged to call between 9 am to 8 pm unless there is any emergency</small>
</p>

<section id="formElement" class="utopia-widget utopia-form-box section">    
    <div class="row-fluid">
        <div class="tab-pane">
            <ul class="message-list">

                @foreach (var v in Model)
                {
                    @MvcHtmlString.Create(v.Name)
                }

            </ul>
        </div>
    </div>
</section>

@*<p>
    <strong class="textPrimary">সরকারী তথ্য ও সেবা কেন্দ্রের জরুরি নম্বর সমূহ</strong>
    <br />
    <img src="~/Content/img/icons2/gov.png" title="Call to National health service" />
</p>*@

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
             
            $('[data-toggle="tooltip"]').tooltip(
                {
                    "html": true
                }
            );
        });
        $(".sidebar-item").removeClass("active");
        $("#my_helth").addClass("active");
        $("#tebular").addClass("active");
        

    </script>
}

