@model IEnumerable<AppProj.Domain.StandingData>
@{
    ViewBag.Title = "COVID Response";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row-fluid">
    <div class="span12">
        <ul class="breadcrumb">
            <li>
                <h2 class="textPrimary">                    
                    BRAC COVID-19 Activities
                </h2>
            </li>
        </ul>

    </div>
</div>
<p>
    <img src="~/Content/img/icons2/earphones.png" class="utopia-icons2-medium-img" title="Call to Doctor" style="margin-right:10px;" />
    Call to Doctor <span style="font-size:22px; font-weight:bold"> 0 1 8 3 3 3 0 1 4 1 1 </span> open for 24 x 7
    <br />
    <small>However, you are encouraged to call between 9 am to 8 pm unless there is any emergency</small>
</p>
<section id="formElement" class="utopia-widget utopia-form-box section">    
    <div class="row-fluid">
        <div class="tab-pane">
            <ul class="message-list">

                @foreach (var v in Model)
                {
                    @MvcHtmlString.Create(v.Name)
                }

            </ul>
        </div>
    </div>
</section>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {


        });



    </script>
}

