@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<section id="counter-social-icon" class="utopia-widget utopia-form-box">
    <div class="utopia-widget-title">
        <img class="utopia-widget-icon" style="margin: 15px 0 0 15px;" src="~/Content/img/icons2/connect.png">
        <span>GoB</span>
    </div>
</section>
<h2>Please stay tuned... Information is on its way</h2>
