/*
@font-face {
    font-family: 'HelveticaNeue';
    src: url(../Content/src/fonts/HelveticaNeueBold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OriyaSangamMN';
    src: url(../Content/src/fonts/oriya-sangam/OriyaSangamMN.eot);
    src: url(../Content/src/fonts/oriya-sangam/OriyaSangamMN.eot?#iefix) format("embedded-opentype"), url(../Content/src/fonts/oriya-sangam/OriyaSangamMN.woff2) format("woff2"), url(../Content/src/fonts/oriya-sangam/OriyaSangamMN.woff) format("woff"), url(../Content/src/fonts/oriya-sangam/OriyaSangamMN.ttf) format("truetype"), url(../Content/src/fonts/oriya-sangam/OriyaSangamMN.svg#svgFontName) format("svg");
    
}
*/



.dropdown-menu.show {
    display: block;
}

.bullentin-item::before {
    content: "";
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0) translateY(-50%);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0) translateY(-50%);
    background-color: #D10D74;
    left: -3px;
}

#divmessages ul {
    padding-left: 0px;
}

    #divactivities > li, #divmessages ul > li {
        display: block;
        width: 100%;
        padding: 0.25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #e6e4e5;
        font-size: 12px;
    }

#bullentin {
    border-right: 2px solid #D10D74;
}

#divactivities li .msg {
    /*color: #D10D74;*/
}

    #divactivities li .msg a, #divmessages ul li div a {
        text-decoration: none;
        color: #D10D74;
    }
.datepicker.dropdown-menu{
    width:225px;
}


.brac-link {
    color: #D10D74;
}

a.brac-link:hover {
    color: #D10D74;
    margin-left: 10px;
}

a.report-item:hover {
    color: #D10D74;
}

.report-title, .download {
    color: #D10D74;
}

.download {
    padding-left: 10px;
}

.releaf-summery {
    text-align: left;
    font: Bold 16px/19px Helvetica Neue;
    letter-spacing: 0px;
    color: #2C2C2C;
    opacity: 1;
}

.relief .food svg {
    width: 24px;
    height: 30px;
}

    .relief .food svg path {
        fill: #007161;
    }

.relief .cash svg {
    width: 35px;
    height: 30px;
}

    .relief .cash svg path {
        fill: #D10D74;
    }

.food span.number, .cash span.number {
    display: block;
}

.food > span.number {
    color: #007161;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.cash > span.number {
    color: #D10D74;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
}

.relief .food div, .relief .cash div {
    font-size: 12px;
    margin-top: -3px;
}

.box-shadow {
    min-height: 250px;
}
/*.container-custom {
    width: 97%;
}*/

.icon-text-item.cash {
    min-width: 100px;
}

.overview-box .img-number-text-item {
    text-align: center;
    width: 25%;
    height: 100px;
}

@media screen and (min-width: 992px) {
    #bullentin {
        width: 600px !important;
    }

    .table-responsive {
        overflow-x: auto;
    }
}

@media (max-width: 576px) {
    .box-shadow {
        min-height: 350px !important;
    }

    .overview-box-wrapper.box-shadow.position-relative .view-in-deatils {
        position: absolute;
        bottom: 10px;
        left: 30%;
    }
}

.st0 {
    fill: none;
}

.st1 {
    fill: #2C2C2C;
}

.hidden {
    display: none !important;
}





.tab-triggers .tab-item.r-active {
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.24);
}

    .tab-triggers .tab-item.r-active .hover-total-count {
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

.view-all-msg:hover {
    color: #D10D74 !important;
}

}

.dataTables_wrapper.form-inline .row-fluid:last-child {
    width: 100%;
}

    .dataTables_wrapper.form-inline .row-fluid:last-child .span5 {
        display: none;
    }

    .dataTables_wrapper.form-inline .row-fluid:last-child .span7 {
        margin-top: 20px;
    }

.dataTables_paginate.paging_bootstrap.pagination ul {
    display: flex;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

    .dataTables_paginate.paging_bootstrap.pagination ul li a {
        text-decoration: none;
    }

    .dataTables_paginate.paging_bootstrap.pagination ul li.prev a {
        width: 80px;
        border: 0px solid #fff;
    }

    .dataTables_paginate.paging_bootstrap.pagination ul li.next a {
        width: 50px;
        border: 0px solid #fff;
    }

    .dataTables_paginate.paging_bootstrap.pagination ul li.active a {
        border-color: #D10D74;
        background-color: #fff;
        color: #D10D74;
        border: 1px solid #D10D74;
    }

    .dataTables_paginate.paging_bootstrap.pagination ul li a {
        padding: 0;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        font-size: 12px;
        background-color: #fff;
        border-color: #f4f5f5;
        border-radius: 2px;
        margin: 0 5px;
        color: #2C2C2C;
        position: relative;
        display: block;
        border: 1px solid #dee2e6;
    }

.filter-item button {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-top: 30px;
}

.table-filter-nav .filter-item {
    height: 70px;
}

/*.table-filter-nav .filter-item:last-child {
        height: 40px;
    }*/



.datepicker {
    padding-top: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 4px;
    vertical-align: middle;
    text-align: center;
}

.dt_top {
    padding-top: 0px;
}

    .dt_top > div:nth-child(2) {
        text-align: right;
    }

.btn-bracify-add {
    background-color: #D10D74;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: 110px;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    position: absolute;
    right: 0;
}

    .btn-bracify-add:hover {
        color: white !important;
        background-color: #D10D74;
    }

.custom-add {
    position: relative;
}

.add-new-btn {
    width: 100%;
}

.dataTables_length {
}

.sidebar {
    height: auto;
    min-height: 100vh;
}

.btn-group.open .dropdown-menu {
    display: block !important;
}

.table-responsive.custom-action .btn-group .btn-info {
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    color: #D10D74;
}

.btn-group .brac-link {
    margin-right: 10px;
}

.circular {
    color: #D10D74;
    font-size: 14px;
}

.activities {
    font-size: 14px;
    color: #007161;
}

.notification-dd {
    margin-right: 10px;
}

ul.dropdown-menu {
    padding: 5px;
    border-radius: 5px;
}

    ul.dropdown-menu li a {
        color: #D10D74;
    }

.dropdown-menu {
    right: 5px;
    left: auto;
}

.dataTables_length label select {
    margin-right: 10px;
}
.filter-item {
    max-width: 300px;
}

#gridTable table.dataTable td, table.dataTable th {
    border: 1px solid #eee;
    box-sizing: content-box;
}
.sidebar.in
{
    z-index:1000;
}
.fixed_headers {
    overflow-y: auto;
    height: 100px;
}

    .fixed_headers thead tr:nth-child(1) th {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
    .fixed_headers thead tr:nth-child(2) th {
        position: sticky;
        position: -webkit-sticky;
        top: 45px;
    }
.thead-yellow th {
    z-index: 10;
}

#map path[data-original-title] {
    text-transform: capitalize;
}
.table-responsive {
    display: initial;
}
