.dropdown-menu.show {
    display: block;
    min-width: 400px;
    padding: 10px;
    z-index: 100000;
}
#divactivities > li {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #e6e4e5;
    font-size: 12px;
}