.dropdown-menu.show {
    display: block;
    min-width: 400px;
    padding: 10px;
    z-index: 100000;
    margin-right:25px;
}

#divactivities > li {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #e6e4e5;
    font-size: 12px;
}

#divactivities li .msg {
    /*color: #D10D74;*/
}

    #divactivities li .msg a {
        text-decoration: none;
        color: #D10D74;
    }

#divactivities.dropdown-menu {
    box-shadow: 0px 6px 15px #222;
}

.brac-link {
    color: #D10D74;
}

@media screen and (min-width: 992px) {
    #bullentin {
        width: 600px !important;
    }
}
.st0 {
    fill: none;
}

.st1 {
    fill: #2C2C2C;
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url(../../src/fonts/HelveticaNeueBold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OriyaSangamMN';
    src: url(../../src/fonts/oriya-sangam/OriyaSangamMN.eot);
    /* IE9 Compat Modes */
    src: url(../../src/fonts/oriya-sangam/OriyaSangamMN.eot?#iefix) format("embedded-opentype"), url(../../src/fonts/oriya-sangam/OriyaSangamMN.woff2) format("woff2"), url(../../src/fonts/oriya-sangam/OriyaSangamMN.woff) format("woff"), url(../../src/fonts/oriya-sangam/OriyaSangamMN.ttf) format("truetype"), url(../../src/fonts/oriya-sangam/OriyaSangamMN.svg#svgFontName) format("svg");
    /* Legacy iOS */
}