@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Team Construction</h2>
<div align="center" style=" padding-top:20px;">
<img src="@Url.Content("~/Content/img/underConstruction.jpg")" alt="under construction"/>
</div>
