@using AppProj.Web.Helpers;
@using AppProj.Web;
@model AppProj.Web.Models.SearchModel
@{
    Layout = "~/Views/Shared/_LayoutBrac.cshtml";
    var ajaxOpt = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dialog1Body",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "openDialog1('Create New Question')",
        LoadingElementId = "loading",
        OnFailure = "failure"
    };
}

<div class="page-header">
    <h2>@ViewBag.Title List</h2>

</div>

<div class="table-responsive custom-action">
    <div id="data_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="dt_top">


            <div class="dataTables_info" id="data_table_info" role="status" aria-live="polite">
                Total Records
                <strong id="iTotalRecords" class="text-bracify">

                </strong>
            </div>
        </div>
        <div class="tnav" style="">

        </div>
        <div class="custom-add">
            @Ajax.ActionLink("Add Question", "CreateQuestion", new { isOpeningAsset = false }, ajaxOpt, new { @class = "btn btn-bracify-add" })
        </div>
        <table id="gridTable" class="table table-borderless table-striped header-table table-alt fixed_headers">
            <thead class="thead-yellow">
                <tr>
                    <th>
                        @ViewBag.Title
                    </th>

                    <th>
                        Status
                    </th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
        </table>

    </div>

</div>





@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            var btns = {
                2: true //column number : is button group
            };

            /*data grid initializer*/
            DataTableBinder($("#gridTable")   //table object
                , '@Url.Content("~/Standing/DataGridQuestion")'  //json data url
            , [50, 100]  //record size
            , false //show all with row size
            , null  //additional parameters at query string
            , btns   //buttons are at these columns
            , true
            );
            $(".sidebar-item").removeClass("active");
            $("#BDC_Qus").addClass("active");
            $("#tebular").addClass("active");
        });
    </script>
}
