@using AppProj.Web.Helpers;
@using AppProj.Web;
@model AppProj.Web.Models.SearchModel
@{
    Layout = "~/Views/Shared/_LayoutBrac.cshtml";
    var ajaxOpt = new AjaxOptions
    {
        HttpMethod = "POST",
        UpdateTargetId = "dialog1Body",
        InsertionMode = InsertionMode.Replace,
        OnSuccess = "openDialog1('Add/Edit')",
        LoadingElementId = "loading",
        OnFailure = "failure"
    };
}

<div class="page-header">
    <h2>List of @ViewBag.Title</h2>

</div>

<div class="table-responsive custom-action">
    <div id="data_table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="dt_top">
            <div class="dataTables_info" id="data_table_info" role="status" aria-live="polite">
                Total Records
                <strong id="iTotalRecords" class="text-bracify">

                </strong>
            </div>
        </div>
        

        <div class="custom-add">
            @if (UserRole.Check("DETAIL", SessionHelper.Role))
            {
                @Ajax.ActionLink("Add New", "Create", "Standing", new { isOpeningAsset = false }, ajaxOpt, new { @class = "btn btn-bracify-add" })
            }
        </div>

        <table id="gridTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        @ViewBag.Title
                    </th>
                    @*<th>
                        Details
                    </th>*@
                    <th>
                        Status
                    </th>
                    <th style="width: 10%"></th>
                </tr>
            </thead>
        </table>

    </div>

</div>





@section scripts{
<script type="text/javascript">
    $(document).ready(function () {

        var btns = {
            2: true //column number : is button group
        };

        /*data grid initializer*/
        DataTableBinder($("#gridTable")   //table object
            , '@Url.Content("~/Standing/DataGrid")'  //json data url
            , [50, 100]  //record size
            , false //show all with row size
            , null  //additional parameters at query string
            , btns   //buttons are at these columns
            , true
        );
        $(".sidebar-item").removeClass("active");
     

        var id = window.location.href.toString();
        var lastFive = id.substr(id.length - 3);

        if ("TMS" == lastFive) {
            $("#Cov_cer").addClass("active");
        }
        else if ("PNT" == lastFive) { $("#activeties").addClass("active"); }
        else if ("SRC" == lastFive) { $("#prog").addClass("active"); }
        else if ("IMP" == lastFive) { $("#Imp_aef").addClass("active"); }
        else if ("CML" == lastFive) { $("#Com_mat").addClass("active"); }
        else if ("CCL" == lastFive) { $("#Com_chal").addClass("active"); }
        else if ("NME" == lastFive) { $("#Mats").addClass("active"); }
        else if ("RES" == lastFive) { $("#Res").addClass("active"); }

        });
</script>
}
